* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-landing-page{
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.container-landing-page img {
width: 140px;
height: 180px;
padding: 10px;
margin: 5px;
}

.card-text{
    background-color: rgb(203, 204, 204);
    width: 150px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: left;
    border-color: rgb(243, 51, 51);
    border-style:groove;
    border-radius: .2em;
}
.section_contact {
    display: flex;
    justify-content: center;
}

.section_contact form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
}

.section_contact form h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.section_contact form input, textarea {
    width: 65%;
    margin-bottom: 1rem;
    padding: .6rem;
    border: none;
    outline: none;
    resize: none;
    border-radius: .2rem;
    background-color: #f1f1f1;
    font-size: 1rem;
    transition: .2s;
}

.section_contact input:focus {
    box-shadow: 0 0 5px 1px rgb(243, 51, 51);
}

.section_contact textarea:focus {
    box-shadow: 0 0 5px 1px rgb(243, 51, 51);
}

.section_contact form .btn {
    border: none;
    box-shadow: none;
    background-color: rgb(243, 51, 51);
    color: white;
}

.section_contact form .btn:hover {
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: rgb(72 65 65 / 70%);
    height: 32vh;
}

.cont-title-github {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cont-title-github p {
    font-weight: bold;
    font-size: 24px;
    color: white
}

.cont-repository {
    display: flex;
    justify-content: space-around;
}

.cont-a {
    background-color: rgb(243, 51, 51);
    padding: 10px;
    border-radius: 0.2rem;
}

.cont-a:hover {
    cursor: pointer;
}

.cont-a a {
    text-decoration: none;
    color: white;
}

.cont-copyright {
    text-align: center;
    padding-top: 4%;
}

.cont-copyright p {
    color: white;
    font-size: 20px;
}

